<div class="operationsListTable">
    {% if operation_list %}
    <div class="operationsListTableHeader badge-dark">
        <span>ID</span>
        <span>Статус</span>
        <span>Дата</span>
        <span>Сумма</span>
        <span>Счет</span>
        <span>Описание</span>
        <span>MCC</span>
        <span>Категория</span>
        <span>Тип</span>
        <span>Комментарий</span>
    </div>
    {% for operation in operation_list %}
        <div class="operationsListTableRow" id="row_{{ operation.id }}">
            <span>{{ operation.id }}</span>
            <span>{{ operation.status }}</span>
            <input class="operationListDate" id="date_{{ operation.id }}" value="{{ operation.date }}">
            <input class="operationListSum" id="sum_{{ operation.id }}" value="{{ operation.bargain_sum }}">
            <span>{{ operation.account }}</span>
            <span>{{ operation.description }}</span>
            <span>{{ operation.merchant_code }}</span>
            <span>{{ operation.merchant_code.category }}</span>
            <span>{{ operation.merchant_code.category.type }}</span>
            <input class="operationListComment" id="comment_{{ operation.id }}" value="{% if operation.comment %}{{ operation.comment }}{% endif %}">
            <button type="button" class="deleteOperationButton" id="d{{ operation.id }}" data-toggle="modal" data-target="#deleteOperationModal">Удалить</button>
        </div>
    {% endfor %}
    <nav aria-label="footer-pagination">
        <ul class="pagination pagination-sm justify-content-center">
            {% if 1 != page_obj.previous_page_number %}
            <li class="page-item"><a class="page-link operationListPage" id="page_1">1</a></li>
            {% endif %}
            {% if page_obj.previous_page_number != 2 and page_obj.number != 2 %}
            <li class="page-item"><span class="page-link" >...</span></li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link operationListPage" id="page_{{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link badge-secondary operationListPage currentListPage" id="page_{{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link operationListPage" id="page_{{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            {% if page_obj.next_page_number != page_obj.paginator.num_pages|add:"-1" and page_obj.number != page_obj.paginator.num_pages|add:"-1" %}
            <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
            <li class="page-item"><a class="page-link operationListPage" id="page_{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <span>None operations in the database with such parameters</span>
    {% endif %}
</div>