.pageHeader {
    margin-left: 10px;
    margin-top: 5px;
}

.operationsListTable,
.oplistButtonForm,
.importButtonForm,
.importTable,
.comparisonBlockHeader,
.comparisonBlock {
    margin: 10px 10px 10px 10px;
}

.operationsListTableHeader,
.operationsListTableRow {
    margin-bottom: 1px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 70px 70px 210px 100px 70px 500px 170px 170px 150px 270px 80px;
    text-align: center;
}

.importTable,
.importTableHeader,
.importTableRow {
    display: grid;
    grid-gap: 2px;
    text-align: center;
}

.importTableHeader,
.importTableRow {
    grid-template-columns: 160px 70px 70px 90px 80px 90px 80px 160px 430px 300px 90px 80px;
}

.comparisonBlockHeader,
.comparisonBlock {
    display: grid;
    grid-gap: 2px;
    text-align: center;
    grid-template-columns: 300px 200px 100px 80px
}

.objectsSearch {
    margin: 0 0 0 10px;
    width: 300px;
}

.calculatorForm {
    margin: 10px 50px auto 500px;
}

.calculatorFormItem {
    display: grid;
    grid-template-columns: 100px 150px;
}