.operationsListTable {
    margin: 10px 50px auto 50px;
}

.operationsListTableHeader,
.operationsListTableRow {
    margin-bottom: 1px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 60px 60px 210px 100px 60px 500px 140px 160px 140px 230px 80px;
    text-align: center;
}


.importButtonForm {

}

.importButtonForm,
.importTable {
    margin: 10px 50px 10px 50px;
}

.importTable,
.importTableHeader,
.importTableRow {
    display: grid;
    grid-gap: 2px;
    text-align: center;
}

.importTableHeader,
.importTableRow {
    grid-template-columns: 160px 70px 70px 90px 80px 90px 80px 160px 430px 300px 90px 80px;
}