<div class="modal fade" id="deleteObjectModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="deleteObjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteObjectModalLabel">Deleting {{ model_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete the {{ model_name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteObjectModalButton">Delete</button>
            </div>
        </div>
    </div>
</div>